.DS_Store
.idea
nbproject
/vendor
/cache
bower_components
/bin/dbvc
/tmp
/tests/_output
/tests/*/*Tester.php
/tests/workflow-integration*
/tests/_support/_generated
/bin
/c3.php
/config/settings.local.yml
/config/settings.*.local.ymlconfig/node.yml