parameters:
    level: 4
    paths:
        - controllers
        - declarations
        - lib
        - models
        - services
    checkAlwaysTrueCheckTypeFunctionCall: false
    checkAlwaysTrueInstanceof: false
    checkAlwaysTrueStrictComparison: false
    ignoreErrors:
        - "/Call to function is_\\w++\\(\\) with .+? will always evaluate to false/"
        - "/Casting to .+? something that's already .+?/"
        - "/should return Event but returns Jasny\\\\DB\\\\Entity/"

includes:
  	- vendor/phpstan/phpstan-strict-rules/rules.neon

