<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        a { color: #336699; font-weight: normal; text-decoration: underline; }
    </style>
</head>
<body style="margin: 0; padding: 0">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color: #FAFAFA">
        <tr>
            <td style="height: 20px"></td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="20" cellspacing="0" width="600" style="background-color: #FFFFFF; border: 1px solid #DDDDDD;">
                    <tr>
                        <td align="left" valign="top">
                            <div style="color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left;">
                                {% block content %}{% endblock %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="color: #707070; font-family: Arial; font-size: 12px; line-height: 150%; text-align: left; padding-top: 10px">
                            <center>
                                <a href="{{ base_url }}">{{ base_url }}</a>
                            </center>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 20px"></td>
        </tr>
    </table>
</body>