{% extends "@email/base.html.twig" %}
{% do email.setSubject("Reset password") %}

{% block content %}
    <h1>Reset Password</h1>

    <p>Hi {{ user }},</p>

    <p><a href="{{ url }}" target="_blank" class="reset-link">Set new password</a></p>
{% endblock %}