{% extends "@email/base.html.twig" %}
{% do email.setSubject("Welcome") %}

{% block content %}
    <h1>Welcome</h1>

    <p>Hi {{ user }},</p>

    <p><a href="{{ url }}" class="signup-link">Confirm your registration</a></p>
{% endblock %}
