html {
    position: relative;
    height: 100%;
}

body {
    min-height: 100%;
    padding-top: 70px;
    position: relative;
}

#content {
    min-height: 400px;
}

.pwstrength + .progress {
    margin-top: 5px;
}

.profile.dropdown > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-sticky-bottom {
    position: fixed;
    width: 100%;
    padding-bottom: 100vh;
    border-width: 1px 0 0;
    border-radius: 0;
    margin: 0;
}

@media (min-width: 768px) {
    body {
        padding-bottom: 70px;
    }
    .navbar-sticky-bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 768px) {
    .navbar-nav.navbar-left:first-child {
        margin-left: -15px;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }
}

/* == Sign in == */

.login-links {
    margin-top: 20px;
}

.login-links a {
    font-size: 16px;
    font-weight: 400;
}

.social-buttons {
    margin-bottom: 20px;
}
.social-buttons a {
    margin-bottom: 20px;
    display: block;
}
.social-buttons a > span {
    display: none;
    font-weight: 200;
}

.input-group.full_name input.first_name {
    width: 40%;
}
.input-group.full_name input.last_name {
    width: 60%;
    border-left: none;
}

#signup .password-verdict {
    position: absolute;
    font-size: 14px;
    margin: 5px 10px;
    z-index: 1;
}
.pwstrength + .progress {
    margin-top: 5px;
}
#signup .terms {
    font-size: 14px;
    font-weight: 200;
}
#signup .terms input {
    vertical-align: 0;
}

@media screen and (min-width: 600px) {
    .social-buttons a > span {
        display: inline;
    }
}

@media screen and (min-width: 768px) {
    #login .modal-dialog,
    #signup .modal-dialog,
    #forgot-password .modal-dialog {
        width: 730px;
    }
    
    .social-buttons {
        margin-bottom: 40px;
    }

    .social-buttons a {
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 992px) {
    #login .modal-dialog,
    #signup .modal-dialog,
    #forgot-password .modal-dialog {
        width: 870px;
    }
}

/* == Error page == */

hgroup.error-page {
    padding: 74px 0;
    text-align: center;
    position: relative;
}
hgroup.error-page h1 {
    font-size: 32px;
    line-height: 32px;
}
hgroup.error-page h2 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 180px;
    line-height: 180px;
    color: #eee;
    z-index: -1;
}

@media (min-width: 768px) {
    hgroup.error-page {
        padding: 170px 0;
        text-align: center;
        position: relative;
    }
    hgroup.error-page h1 {
        font-size: 60px;
        line-height: 60px;
    }
    hgroup.error-page h2 {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        font-size: 400px;
        line-height: 400px;
        color: #eee;
        z-index: -1;
    }
}

/* == User settings == */

.btn-linkedin {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 123, 182);
    border-color: rgba(0,0,0,0.2);
}

.btn-google-plus {
    color: rgb(255, 255, 255);
    background-color: rgb(221, 75, 57);
    border-color: rgba(0,0,0,0.2);
}

.btn-facebook {
    color: rgb(255, 255, 255);
    background-color: rgb(59, 89, 152);
    border-color: rgba(0,0,0,0.2);
}

.btn-twitter {
    color: rgb(255, 255, 255);
    background-color: rgb(43, 169, 225);
    border-color: rgba(0,0,0,0.2);
}

.btn-google-plus:hover, 
.btn-google-plus:focus, 
.btn-google-plus:active, 
.btn-google-plus.active {
    color: rgb(255, 255, 255);
    background-color: rgb(202, 53, 35);
    border-color: rgba(0,0,0,0.2);
}

.avatar-block .thumbnail {
    border: none;
}

.avatar-block .thumbnail img {
    width: 200px;
    height: 200px;
}

.user-settings .change-password {
    margin-top: 7px;
    display: inline-block;
}

/* == Reset password == */

.user-header h1 {
    line-height: 1.5;
}
