RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [L]

RewriteRule .* /index.php [QSA,L]

ErrorDocument 500 /:500
ErrorDocument 403 /:404
ErrorDocument 404 /:404
