debug: true
cache: false
digest: optional

db:
  default:
    client: mongodb://localhost:27017
    database: lto_eventchain

mysql:
  dsn: mysql:host=127.0.0.1;dbname=dcigarn
  username: root

email:
  From: info@example.com
  FromName: Example
  Mailer: mail

endpoints: []
triggers: []

lto:
  account:
    sign:
      secretkey: wJ4WH8dD88fSkNdFQRjaAhjFUZzZhV5yiDLDwNUnp6bYwRXrvWV8MJhQ9HL9uqMDG1n7XpTGZx7PafqaayQV8Rp
      publickey: FkU1XyfrCftc4pQKXCrrDyRLSnifX1SMvmx1CYiiyB3Y
    encrypt:
      secretkey: BnjFJJarge15FiqcxrB7Mzt68nseBXXR4LQ54qFBsWJN
      publickey: BVv1ZuE3gKFa6krwWJQwEmrLYUESuUabNCXgYTmCoBt6
