<div id="login" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/login" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Log in</h2>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="social-buttons col-sm-6 col-sm-push-6 col-md-5 col-md-push-7">
                            {% block login_social %}
                                <div class="row">
                                    <div class="col-xs-6 col-sm-12"><a class="btn btn-block btn-social btn-lg btn-facebook" href="/login/facebook"><i class="fa fa-facebook"></i><span>Log in with </span>Facebook</a></div>
                                    <div class="col-xs-6 col-sm-12"><a class="btn btn-block btn-social btn-lg btn-google-plus" href="/login/google"><i class="fa fa-google-plus"></i><span>Log in with </span>Google+</a></div>
                                    <div class="col-xs-6 col-sm-12"><a class="btn btn-block btn-social btn-lg btn-twitter" href="/login/twitter"><i class="fa fa-twitter"></i><span>Log in with </span>Twitter</a></div>
                                    <div class="col-xs-6 col-sm-12"><a class="btn btn-block btn-social btn-lg btn-linkedin" href="/login/linkedin"><i class="fa fa-linkedin"></i><span>Log in with </span>LinkedIn</a></div>
                                </div>
                            {% endblock %}
                        </div>
                        
                        <div class="col-sm-6 col-sm-pull-6 col-md-pull-5">
                            <div class="form-group">
                                <input class="form-control input-lg" name="email" placeholder="E-mail address" type="text" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" name="password" placeholder="Password" type="password" required>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block btn-center" type="submit">Log in</button>
                            
                            <div class="login-links">
                                <div><a href="#signup" data-toggle="modal" data-dismiss="modal" aria-hidden="true">Sign up for a new account</a></div>
                                <div><a href="#forgot-password" data-toggle="modal" data-dismiss="modal">Forgot you password?</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="signup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/signup" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Sign up <span class="text-thin">for a new account</span></h2>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="social-buttons col-sm-6 col-sm-push-6 col-md-5 col-md-push-7">
                            {{ block('login_social') }}
                        </div>
                        
                        <div class="col-sm-6 col-sm-pull-6 col-md-pull-5">
                            <div class="form-group">
                                <div class="input-group full_name">
                                    <input class="form-control input-lg first_name" name="first_name" placeholder="First name" type="text" required>
                                    <input class="form-control input-lg last_name" name="last_name" placeholder="Last name" type="text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" name="email" placeholder="E-mail address" type="email" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg pwstrength" name="password" placeholder="Password" type="password" required pattern=".{6,}" title="6 characters minimum">
                            </div>
                            <div class="form-group">
                                <label class="terms"><input type="checkbox" required checked> I agree with the <a href="/terms" target="_blank">terms and conditions</a>.</label>
                            </div>

                            <button class="btn btn-lg btn-success btn-block btn-center" type="submit">Sign up</button>
                            
                            <div class="login-links">
                                <div><a href="#login" data-toggle="modal" data-dismiss="modal">Log in with an existing account</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="forgot-password" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/forgot-password" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Request a password reset</h2>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="social-buttons col-sm-6 col-sm-push-6 col-md-5 col-md-push-7">
                            {{ block('login_social') }}
                        </div>
                        
                        <div class="col-sm-6 col-sm-pull-6 col-md-pull-5">
                            <div class="form-group">
                                <input class="form-control input-lg" name="email" placeholder="E-mail address" type="text" required>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block btn-center" type="submit">Submit</button>
                            
                            <div class="login-links">
                                <div><a href="#login" data-toggle="modal" data-dismiss="modal" aria-hidden="true">&larr; back to log in</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
