<div id="confirm-delete-user-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="modal-form" data-toggle="validator" role="form" method="post" action="/settings/delete">
                <div class="modal-header">
                    <h3 class="modal-title">Close account</h3>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to close your account?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <a class="btn btn-default" href="javascript:;" data-dismiss="modal">No</a>
                </div>
            </form>
        </div>
    </div>
</div>
