{% extends "base.html.twig" %}

{% block content %}
    <div class="container user-settings">
        <h1>Edit settings</h1>        

        <section>     
            <div class="col-sm-7">
                <form class="form-horizontal" method="post" data-toggle="validator" data-disable="false" action="/settings">
                    <div class="form-group">
                        <input type="text" name="first_name" id="first-name" class="form-control input-lg" required data-error="Please fill first name in" value="{{ user.first_name }}" placeholder="First name">
                        <div class="help-block with-errors"></div>                            
                    </div>

                    <div class="form-group">
                        <input type="text" name="last_name" id="last-name" class="form-control input-lg" required data-error="Please fill last name in" value="{{ user.last_name }}" placeholder="Last name">
                        <div class="help-block with-errors"></div>                            
                    </div>

                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control input-lg" required data-error="Please fill correct email in" value="{{ user.email }}" placeholder="E-mail">
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <a class="change-password" href="/settings/edit-password">Change password</a>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary button-submit btn-lg btn-block">Save</button>
                            </div>
                            <div class="col-sm-6">
                                <a class="btn btn-default btn-lg btn-block" href="/">Cancel</a>
                            </div>                                                            
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-5 avatar-block">
                <div class="thumbnail">
                    <img src="{{ user.image|default('/img/male-256.png') }}">
                </div>
            </div>          

            <div class="clearfix"></div>            
        </section>

        <hr>
        
        <section>
            <h2>Social connect</h2>
            
            <div class="row social-buttons">
                <div class="col-sm-3">
                    <a href="/settings/connect/facebook" class="btn btn-default btn-facebook btn-block btn-lg {% if user.facebook_id %}disabled{% endif %}">Facebook</a>                
                </div>
                <div class="col-sm-3">
                    <a href="/settings/connect/google" class="btn btn-default btn-google-plus btn-block btn-lg {% if user.google_id %}disabled{% endif %}">Google+</a>
                </div>
                <div class="col-sm-3">
                    <a href="/settings/connect/twitter" class="btn btn-default btn-twitter btn-block btn-lg {% if user.twitter_id %}disabled{% endif %}">Twitter</a>
                </div>
                <div class="col-sm-3">
                    <a href="/settings/connect/linkedin" class="btn btn-default btn-linkedin btn-block btn-lg {% if user.linkedin_id %}disabled{% endif %}">Linkedin</a>
                </div>                
            </div>

            <div class="clearfix"></div>          
        </section>

        <section>
            <a href="#confirm-delete-user-modal" data-toggle="modal" class="text-danger delete-user-button">Close account</a>                
        </section>
    </div>
{% endblock %}

{% block modals %}
    {% include '_includes/confirm-delete-user.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
{% endblock %}
